@charset "utf-8";

body{margin:0;overflow:visible}
.left{
	float:left;
	width:250px;
	
	
}
.left  ol{
	padding: 5px 5px 0 25px;
	height:300px;
	clear:both;
	
}
.left ol ol.ans{ 
	margin-left:-20px;
	height:auto;
}
.left .feedback{
	height:150px;
}
.left .qscore {
width: auto;
padding: 0 5px 0 5px;
float: right;
margin-top: -9px;
}
iframe{
	
	margin-left:2px;
	resize:both;
	border:solid 5px #eee;
}
